<div class="config-form">
  <div class="config-group">
    <label>כותרת</label>
    <input type="text" ng-model="config.Title">
  </div>
  <div class="config-group">
    <label>סוג מסנן</label>
    <select ng-model="config.slicerType">
      <option value="list">רשימה</option>
      <option value="range">טווח</option>
      <option value="button">כפתורים</option>
      <option value="dropdown">תפריט נפתח</option>
    </select>
  </div>
  <div class="config-group">
    <label>שדה יעד</label>
    <input type="text" ng-model="config.targetField" placeholder="Name">
  </div>
  <div class="config-group" ng-if="config.slicerType === 'list'">
    <label>
      <input type="checkbox" ng-model="config.multiSelect"> בחירה מרובה
    </label>
  </div>
  <div class="config-group" ng-if="config.slicerType === 'range'">
    <label>מינימום</label>
    <input type="number" ng-model="config.rangeMin">
    <label>מקסימום</label>
    <input type="number" ng-model="config.rangeMax">
  </div>
  <div class="config-group">
    <label>נתוני הדגמה</label>
    <select ng-model="config.demoType">
      <option value="units">יחידות</option>
      <option value="status">סטטוס</option>
      <option value="regions">אזורים</option>
      <option value="shift">משמרות</option>
    </select>
  </div>
</div>
